{% extends 'AdminCoreBundle::Common/formComponent.html.twig' %}

{% form_theme form 'AdminCoreBundle::Forms/fields.html.twig' %}

{% block title %}
    {% if entity.id %}
        {{ 'editing'|trans({}, 'admin') }} - {{ entity.fullName }}
    {% else %}
        {{ 'new_item'|trans }} - {{ 'admin_user'|trans({}, 'admin') }}
    {% endif %}
{% endblock title %}

{% block content %}
    {{ form_start(form, {'action': url('admin_admin_user_save', {
        'id': entity.id
    })}) }}

    {% for group in form.children %}
        {% if group.children|length %}
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-align-justify"></i></span>
                    <h5>{{ group.vars.name|trans({}, 'admin') }}</h5>
                </div>
                <div class="{{ group.vars.name }} widget-content nopadding">
                    {% for field in group.children %}
                        {{ form_row(field) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="well well-small form-actions">
        <button type="submit" class="btn btn-inverse" name="btn_update_and_edit">{{ 'update'|trans }}</button>
        <button type="submit" class="btn" name="btn_update_and_list">{{ 'update_and_close'|trans }}</button>
        {{ 'or'|trans({}, 'admin') }}
        <a class="btn btn-danger" href="{{ path('admin_admin_user_delete', {'id': entity.id}) }}">{{ 'delete'|trans }}</a>
    </div>

    {{ form_end(form) }}
{% endblock content %}