<div id="sidebar">
        <ul class="cl-vnavigation">

            {% block side_menu %}

                {% for menu_item in menu_items %}

                    <li {% if menu_item.subnodes|length %}class="submenu"{% endif %}>
                        <a href="{{ generate_url(menu_item.url) }}">
                            <i class="fa fa-{{ menu_item.code|default("flask") }}"></i>
                            <span>{{ menu_item.name|trans }}</span>
                            {% if menu_item.subnodes|length %}
                            <i class="arrow fa fa-chevron-right"></i>
                            {% endif %}
                        </a>

                        {% if menu_item.subnodes|length %}
                            <ul>
                            {% for submenu_item in menu_item.subnodes %}
                                <li><a href="{{ generate_url(submenu_item.url) }}">{{ submenu_item.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}


                    </li>

                {% endfor %}

            {% endblock %}

        </ul>
</div>
