{% extends 'AdminCoreBundle::base.html.twig' %}

{% block body %}

    {#{% include 'AdminCoreBundle::Navs/top.html.twig' %}#}

    <div id="wrapper">

        <div id="header">
            <h1></h1>
        </div>

        <div id="user-nav">
            <ul class="btn-group">
                <li class="btn" >
                    <a title="" href="#"> <i class="fa fa-user"></i>
                        <span class="text">{{app.user}}</span>
                    </a>
                </li>
                <li class="btn">
                    <a title="" href="{{ path('admin_logout') }}">
                        <i class="fa fa-share"></i>
                        <span class="text">{{'security.logout'|trans({}, 'admin')}}</span>
                    </a>
                </li>
            </ul>
        </div>

        {% render url('admin_menu_side') %}

        <div id="content">

            <div id="content-header" class="mini">
                <h1>{% block content_title %}{% endblock content_title %}</h1>
                <div class="btn-group">{% block btn_group %}{% endblock btn_group %}</div>
            </div>

            <div id="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </div>


            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <div class="row">
            <div id="footer" class="col-xs-12">
                2013 - {{ "now"|date("Y") }} &copy; QBH
            </div>
        </div>
    </div>

{% endblock body %}

{% block foot_script %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery-ui.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.icheck.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.colorpicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.nicescroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.fancybox.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/jquery.form.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admincore/js/unicorn.js') }}" type="text/javascript"></script>
{% endblock foot_script %}