<td class="text-center">
    {#<a class="btn btn-default btn-xs" data-original-title="{{ "Show"|trans }}" data-toggle="tooltip" href="{{ url("admin_" ~ class ~ "_view", {"id": entity.id}) }}">#}
        {#<i class="fa fa-file"></i>#}
    {#</a>#}
    <a class="btn btn-warning btn-xs" data-original-title="{{ "edit"|trans({}, 'admin') }}" data-toggle="tooltip" href="{{ url("qbh_admin_" ~ class ~ "_edit", {"id": entity.id}) }}">
        <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
    </a>
    {% if delete is not defined or delete != false %}
        <a class="btn btn-danger btn-xs" data-original-title="{{ "remove"|trans }}" data-toggle="tooltip" href="{{ url("qbh_admin_" ~ class ~ "_delete", {"id": entity.id}) }}">
            <i class="fa fa-times"></i> {{ 'remove'|trans({}, 'admin') }}
        </a>
    {% endif %}
</td>
